
*.o

Sound_Pairing/soundpairing_0116.zip

Sound_Pairing/abner_soundpairing.tar.gz

Sound_Pairing/aubioTest/libs/armeabi/libsoundpairing.so

BeseyeApp/libs/armeabi/libffmpegutils.so

BeseyeApp/libs/armeabi/libffmpegutils.so

*.lo

*.la

Sound_Pairing/speex-1.2rc1/libspeex/testdenoise

Sound_Pairing/speex-1.2rc1/libspeex/testecho

Sound_Pairing/speex-1.2rc1/libspeex/testenc

Sound_Pairing/speex-1.2rc1/libspeex/testenc_uwb

Sound_Pairing/speex-1.2rc1/libspeex/testenc_wb

Sound_Pairing/speex-1.2rc1/libspeex/testjitter

Sound_Pairing/speex-1.2rc1/src/speexdec

Sound_Pairing/speex-1.2rc1/src/speexenc

*.Plo

*.Plo

Sound_Pairing/speex-1.2rc1/libspeex/.deps/bits.Plo

*.Po
