
*.o

Sound_Pairing/soundpairing_0116.zip

Sound_Pairing/abner_soundpairing.tar.gz

Sound_Pairing/aubioTest/libs/armeabi/libsoundpairing.so

BeseyeApp/libs/armeabi/libffmpegutils.so

BeseyeApp/libs/armeabi/libffmpegutils.so

*.lo

*.la

Sound_Pairing/speex-1.2rc1/libspeex/testdenoise

Sound_Pairing/speex-1.2rc1/libspeex/testecho

Sound_Pairing/speex-1.2rc1/libspeex/testenc

Sound_Pairing/speex-1.2rc1/libspeex/testenc_uwb

Sound_Pairing/speex-1.2rc1/libspeex/testenc_wb

Sound_Pairing/speex-1.2rc1/libspeex/testjitter

Sound_Pairing/speex-1.2rc1/src/speexdec

Sound_Pairing/speex-1.2rc1/src/speexenc

*.Plo

*.Plo

Sound_Pairing/speex-1.2rc1/libspeex/.deps/bits.Plo

*.Po

__MAXOSX
.DS_Store

*/.DS_Store
.DS_Store
.DS_Store?

*.so

Sound_Pairing/aubioTest/jni/cam-handler/*
Sound_Pairing/aubioTest/jni/common/*
Sound_Pairing/aubioTest/jni/http_cgi_lib/*
Sound_Pairing/aubioTest/jni/ws-client/*

Sound_Pairing/curl/lib/.libs/libcurl.a
Sound_Pairing/curl/lib/.libs/*
Sound_Pairing/libogg-1.3.0/src/.libs/*
Sound_Pairing/libsndfile-1.0.25/src/.libs/*
Sound_Pairing/libsndfile-1.0.25/src/G72x/.libs/*
Sound_Pairing/libsndfile-1.0.25/src/GSM610/.libs/*

Sound_Pairing/aubioTest/jni/ws-client/.DS_Store

Sound_Pairing/aubioTest/jni/ws-client/src/.DS_Store

Sound_Pairing/aubioTest/jni/ws-client/src/.DS_Store

Sound_Pairing/aubioTest/jni/ws-client/src/._.DS_Store

Sound_Pairing/aubioTest/jni/ws-client/._Makefile

Sound_Pairing/aubioTest/jni/http_cgi_lib/.DS_Store

Sound_Pairing/aubioTest/jni/http_cgi_lib/.DS_Store

*.Plo

*.Plo

*.Po

*.Plo

*.Plo

Sound_Pairing/fftw-3.3.3/api/.deps/apiplan.Plo

BeseyeApp/libs/armeabi/libsoundpairing.so
