<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.beseye"
    android:versionCode="187"
    android:versionName="0.2.7" 
    android:installLocation="auto">
    
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="14" />

    <supports-screens 
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:anyDensity="true"/>
    
    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <!-- Allow writing to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
    
    <permission android:name="com.app.beseye.googlemap.MAPS_RECEIVE"></permission>
	<uses-permission android:name="com.app.beseye.googlemap.permission.MAPS_RECEIVE"/>
	
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> 
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

	<!-- baidu Push service -->
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    
    <!-- For dev name notification when login -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
	
    <!-- For Push server GCM -->
    <permission android:name="com.app.beseye.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.app.beseye.permission.C2D_MESSAGE" />
	
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	
	<!-- Keeps the processor from sleeping when playing streaming. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/common_app_icon"
        android:label="@string/app_name_dev"
        android:theme="@style/AppTheme" 
        android:name=".BeseyeApplication">
        <!--change the android:name=".test.TestActivity" below for UI test-->
        <!-- TestActivity  -->
        <!-- 
        <activity
            android:name=".test.TestActivity" 
        	android:screenOrientation="portrait"
            android:configChanges="locale|orientation"
            android:launchMode="singleTop" 
            android:allowTaskReparenting="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
         
        <activity
            android:name=".OpeningPage"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
        	android:screenOrientation="portrait"
            android:configChanges="locale|orientation"
            android:allowTaskReparenting="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".CameraViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="unspecified"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>
        
        <activity
            android:name=".CameraListActivity"
            android:configChanges="locale|orientation" 
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".BeseyeNewsActivity"
            android:configChanges="locale|orientation" 
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".EventListActivity"
            android:configChanges="locale|orientation" 
            android:screenOrientation="portrait" 
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".EventFilterActivity"
            android:configChanges="locale|orientation" 
            android:screenOrientation="portrait" 
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.CameraSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.HumanDetectNotificationSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.HumanDetectTrainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.HWSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.PowerScheduleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.PowerScheduleEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.PowerScheduleDayPickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
    
        
        <activity
            android:name=".setting.CameraInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.NotificationEventsSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".setting.MotionNotificationSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.MotionZoneEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.LocationAwareSettingActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.NightVisionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".googlemap.LocateOnGoogleMap"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".WifiListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WifiList"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".setting.TimezoneListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TimeZoneList"
            android:exported="false">
        </activity>

        <activity
            android:name=".BeseyeEntryActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".CameraUpdateActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" >
        </activity>
        
        <activity
            android:name=".BeseyeTrustDevMgtActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" >
        </activity>
        
        <activity
            android:name=".BeseyeTrustDevAuthActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" >
        </activity>
        
        <activity
            android:name=".BeseyeAboutActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" >
        </activity>
        
        <activity
            android:name=".BeseyeComputexModeActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".pairing.PairingRemindActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".pairing.PairingWatchOutActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
    		android:name=".pairing.PairingPlugPowerActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        <activity
            android:name=".pairing.PairingGuidelineActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".BeseyeTOSAndPrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
    		android:name=".pairing.PairingFailActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
    		android:name=".pairing.PairingFailAttachAlreadyActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".ForgetPWConfirmActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".WifiSetupGuideActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".pairing.SoundPairingActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".pairing.SoundPairingNamingActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".ota.CamOTAInstructionActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".ota.CamOTARemindActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        <activity
            android:name=".ota.CamOTAFAQActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
         <activity
            android:name=".ota.CamOTAFeedbackActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="false">
        </activity>
        
        
        <!-- facebook -->
        <!-- due to FB login, use style/Theme.NoDisplay instead of style/Theme.Translucent.NoTitleBar -->
        <activity android:name="com.facebook.FacebookActivity"
          android:configChanges=
                 "keyboard|keyboardHidden|screenLayout|screenSize|orientation"  
          android:theme="@android:style/Theme.NoDisplay"/>
        
        <!--  
        <receiver
		    android:name="com.app.beseye.receiver.WifiStateChangeReceiver"
		    android:process=":remote" >
		</receiver>
		-->
		
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
		
		<service 
            android:name=".service.BeseyeNotificationService" 
            android:process=":remote">
        </service>
        
		<receiver 
           android:name=".receiver.UBTEventBroadcastReciever"
           android:exported="false">  
		   <intent-filter>  
		    	<action android:name="com.app.beseye.ubt.EVENT_BROADCAST" />  
		   </intent-filter>  
		</receiver>
        
		<receiver 
            android:name=".receiver.BeseyeGCMBroadcastReceiver" 
            android:permission="com.google.android.c2dm.permission.SEND" >
			  <intent-filter>
			    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
			    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
			    <category android:name="com.app.beseye" />
			  </intent-filter>
		</receiver>
		
		<receiver 
            android:name=".receiver.BootBroadcastReceiver" >
			  <intent-filter>
			    <action android:name="android.intent.action.BOOT_COMPLETED"/>
			  </intent-filter>
		</receiver>
		
		<!-- push service start -->
		<!-- 用于接收系统消息以保证PushService正常运行 -->
		<receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" 
		    android:process=":bdservice_v1" >
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		        <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
		        <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
		        <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
		        <action android:name="android.intent.action.MEDIA_MOUNTED" />
		        <action android:name="android.intent.action.USER_PRESENT" />
		        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
		        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
		    </intent-filter>
		</receiver>
		<!-- Push服务接收客户端发送的各种请求-->
		<receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
		    android:process=":bdservice_v1" >
		    <intent-filter>
		        <action android:name="com.baidu.android.pushservice.action.METHOD" />
		        <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
		    </intent-filter>
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_REMOVED" />
		        <data android:scheme="package" />
		    </intent-filter>                   
		</receiver>
		<receiver android:name=".receiver.BaiduPushReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        
		<service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
		<!-- push结束 -->
	
        <service 
            android:name=".GCMIntentService" 
            android:process=":remote"/>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBOFJ-maqKlPlfRuhfpAas2b93l1WcFiBM" />
		
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
        
		<!-- facebook -->
    	<meta-data 
    	    android:name="com.facebook.sdk.ApplicationId" 
    	    android:value="@string/facebook_app_id"/>
    	
    	<!-- 913128435388925 is APP ID -->
    	<provider 
    	    android:authorities="@string/facebook_provider_authority"
          	android:name="com.facebook.FacebookContentProvider"
          	android:exported="true" />        

    </application>
</manifest>
