<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.beseye"
    android:versionCode="19"
    android:versionName="0.1.19" 
    android:installLocation="auto">

    <!-- Android 2.3.3 -->
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="14" />

    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" /> 

    <!-- Allow writing to external storage -->
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> 
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <!-- For Push server GCM -->
    <permission android:name="com.app.beseye.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.app.beseye.permission.C2D_MESSAGE" />
	
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	
	<!-- Keeps the processor from sleeping when playing streaming. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/common_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".BeseyeApplication">
        <!--change the android:name=".test.TestActivity" below for UI test-->
        
        <!-- TestActivity  -->
        <!-- 
        <activity
            android:name=".test.TestActivity" 
        	android:screenOrientation="portrait"
            android:configChanges="locale|orientation"
            android:launchMode="singleTop" 
            android:allowTaskReparenting="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
         
        <activity
            android:name=".OpeningPage"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
        	android:screenOrientation="portrait"
            android:configChanges="locale|orientation"
            android:launchMode="singleTop" 
            android:allowTaskReparenting="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".CameraViewActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="unspecified" 
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".CameraListActivity"
            android:label="@string/app_name" 
            android:configChanges="locale|orientation" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name=".BeseyeNewsActivity"
            android:label="@string/app_name" 
            android:configChanges="locale|orientation" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name=".EventListActivity"
            android:label="@string/app_name" 
            android:configChanges="locale|orientation" 
            android:screenOrientation="portrait" android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".setting.CameraSettingActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".setting.HWSettingsActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".setting.PowerScheduleActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".setting.PowerScheduleEditActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".setting.PowerScheduleDayPickerActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".setting.CameraInfoActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".setting.NotificationEventsSettingActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".WifiListActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WifiList">
        </activity>
        
        <activity
            android:name="com.app.beseye.setting.TimezoneListActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TimeZoneList">
        </activity>

        <activity
            android:name=".BeseyeEntryActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        <activity
            android:name=".CameraUpdateActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        
        <activity
            android:name=".BeseyeComputexModeActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        <activity
            android:name=".PairingRemindActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        <activity
            android:name=".PairingFailActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        <activity
            android:name=".SignupActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".ForgetPWConfirmActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".WifiSetupGuideActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:launchMode="singleTop">
        </activity>
        
        <activity
            android:name=".pairing.SoundPairingActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <!--  
        <receiver
		    android:name="com.app.beseye.receiver.WifiStateChangeReceiver"
		    android:process=":remote" >
		</receiver>
		-->
		
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
		
		<service 
            android:name=".service.BeseyeNotificationService" 
            android:process=":remote">
        </service>
        
		<receiver 
           android:name=".receiver.UBTEventBroadcastReciever"
           android:exported="false">  
		   <intent-filter>  
		    	<action android:name="com.app.beseye.ubt.EVENT_BROADCAST" />  
		   </intent-filter>  
		</receiver>
        
		<receiver 
            android:name="com.google.android.gcm.GCMBroadcastReceiver" 
            android:permission="com.google.android.c2dm.permission.SEND" >
			  <intent-filter>
			    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
			    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
			    <category android:name="com.app.beseye" />
			  </intent-filter>
		</receiver>
		
        <service 
            android:name=".GCMIntentService" 
            android:process=":remote"/>
    </application>
</manifest>
